@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background: linear-gradient(
    to right,
    #2d3748,
    #000000
  ); /* bg-gradient-to-r from-gray-800 to-black */
  opacity: 0.9; /* opacity-90 */
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
}

/* Add this to your global CSS file */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open.hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open.hamburger-middle {
  display: none;
}

.open.hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
